/* SELETTORE {
    proprietà: valore;
    proprietà: valore;
} */

.header-container {
    background-color: rgb(32, 137, 223);
    width: 100%;
}

header {
    background-image: url("../img/pattern.png");
    background-repeat: repeat-x;
    height: 100px;
    background-size: contain;
}

.logo {
    height: 50px;
    margin-top: 30px;
}

h1 {
    margin-bottom: 0;
}

/* stile sezione titolo */
#autore {
    color: lightblue;
    margin-top: 0;
}

.data {
    color: grey;
    font-size: 14px;
}

.tim-img {
    margin-top: 20px;
}

.source1 {
    font-size: 14px;
}
    
.source2 {
    font-size: 14px;
}

p {
    font-size: 20px;
}

.giallo {
    background-color: yellow;
    font-size: 20px;
}

/* stile tabella */

table {
    width: 100%;
}

thead {
    background-color: rgb(64, 129, 228);
    color: aliceblue;
}

.riga1 {
    background-color: lightblue;
}

.riga2 {
    background-color: rgb(255, 255, 255);
}

.finals {
    font-size: 20px ;
    color: grey ;
    margin-top: 3%;
}

/* Container holding the image and the text */
.container1 {
    position: relative;
    text-align: left;
    color: white;
  }

/* Top left text */
.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 25px;
}

.container2 {
    position: relative;
    text-align: left;
    color: white;
}
  